<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">영화 등록 페이지</h1>

        <form th:action="@{/movie/register}" th:method="post" >
            <div class="form-group">
                <label >제목</label>
                <input type="text" class="form-control" name="title" placeholder="Enter Title">
            </div>

            <div class="form-group fileForm">
                <label >이미지 파일</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input files" id="fileInput" multiple>
                    <label class="custom-file-label" data-browse="Browse"></label>
                </div>
            </div>
            <div class="box">
            </div>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
        <script>
            $(document).ready(function(e) {

            }); //document ready
        </script>
    </th:block>
</th:block>